/* general styling */
*{
   padding: 0;
   margin: 0;
   font-family: cursive;
}
/* desktop size screens */
.navbar{
   background-color: gray;
   border-top: solid black;
   border-bottom: solid black;
   height: 15%;
}
.navbar .container, h1{
   margin: 0 0 0 3%;
   font-size: 1.7em;
}
.container div.box{
   width: 100%;
}
.box h2{
   margin: 3% auto 3%;
   width: 230px;
   font-size: 50px;/*make the text size dynamic */
}
.col-md-12{
   background-color: grey;
   margin: 0 3% 0;
}
span{
   font-size: 27px;
}

/* tablet size screens */


/* mobile style screens */